* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #f2f5f7;
    margin: 0;
    padding: 0;
}

/* Navigation bar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #053742;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    z-index: 10;
    padding: 0 3vw;
}

.logo img {
    width: 4rem;
}

ul.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

ul.nav-links li {
    margin: 0 0.7vw;
}

ul.nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    color: #f2f5f7;
    transition: color 350ms, background-color 350ms, border-radius 350ms;
}

ul.nav-links li a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 50px;
}

/* Search bar styles */
#search {
    padding: 10px;
    border: 1px solid #f2f5f7;
    border-radius: 5px;
    margin-right: 10px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #053742;
    color: #f2f5f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #f2f5f7;
    color: #053742;
}

/* Container styles */
.container {
    width: 80%;
    height: 500px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 6rem;
}

textarea#note {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #f2f5f7;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #053742;
}

button#save {
    padding: 10px 20px;
    background-color: #053742;
    color: #f2f5f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#save:hover {
    background-color: #f2f5f7;
    color: #053742;
}

/* #notes-list {
    /* Style your notes list as needed 
} */

/* Footer styles */
footer {
    background-color: #053742;
    color: #f2f5f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
