body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #053742;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reminder-notes-list {
    /* Add specific styles for displaying reminder notes */
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

/* Style reminder notes differently */
.reminder-note {
    background-color: #ffcf80;
    border: 1px solid #ffa726;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.reminder-note:hover {
    background-color: #ffd699;
}

footer {
    background-color: #053742;
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
  }